body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: black;
    text-align: center;
}

.heading-para {
    color: white;
    font-size: 15px;
    text-align: center;
}

.top-back-banner {
    background-image: url(images/donation13.jpg);
    border-image-repeat: no repeat;

}

.Donation-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    color: white;
    font-weight: 700;

}

.donation-center {

    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.donation-amount {
    text-align: center;
    font-size: 30px;
    font-weight: 700px;

}

.second-donation {
    font-size: 17px;
    text-align: center;
    margin-top: 20px;


}

.upper-donation {
    color: darkgray;
    font-size: small;

}

.flexible-container {
    display: flex;
    margin: 150px;

}

h3 {
    font-weight: 700;
    font-size: 60px;
}

.donation-plan {
    font-weight: 400;
    text-align: center;
}

.donation-column {
    color: dimgray;
    width: 70%;
    margin-right: 2%;
    margin-left: 2%;

}

.flexible-part {
    display: flex;
    margin-bottom: 50px;
    text-align: justify;
}

.flexible-mission {
    display: flex;
    margin-right: 150px;
    text-align: center;
}